<h1>Scrabble</h1>
  <p>Enter a word and see how many points you'll get!</p>
  <form action='/results' method='get'>
    <div class="form-group">
      <label for="word">Enter your word</label>
      <input id="word" name="word" class="form-control" placeholder="Sample" type="text">
    </div>

    <div class ="button">
    <button type="submit" class="btn btn-primary">Calculate!</button>
</div>
  </form>
